@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.card {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    gap: 25px;
    margin: 50px;
}

.card img {
    width: 350px;
}

.card h3 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

.card p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.card button {
    width: 90px;
    height: 30px;
    border-radius: 10%;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.card button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}